<div id="kitten">
<%= print @kitten %>
    <h2 id="kitten-name">
    You are looking at 
    <%= @kitten.name %><br>
    </h2>
    <h4 id="age">Age: <%= @kitten.age %></h4> 
    <p id="cuteness">
        Cuteness Rating: <%= @kitten.cuteness %><br>
    </p>
    <p id="softness">
        Softness Rating: <%= @kitten.softness %><br>
    </p>
    <div>
        <%= link_to "Edit This Kitten", edit_kitten_path(@kitten.id) %> 
    </div>
    <div>
        <%= link_to "Give up this Kitten", kitten_path(@kitten.id), data: {turbo_confirm: 'Are you sure you want to put this kitten up for adoption?', turbo_method: :delete } %> 
    </div>
</div>